a{
  color: white !important;
}

@keyframes backgroundAnimation {
  0% { background-color: #ff0000; } /* Define your desired initial background color */
  50% { background-color: #00ff00; } /* Define an intermediate background color */
  100% { background-color: #0000ff; } /* Define your desired final background color */
}

.backgroundAnimation{
  animation: backgroundAnimation 10s infinite; /* Adjust the duration as needed */
}

.card-action {
  padding: 20px;
}
.navbar-container {
  width: 100%;
  height: 200px;
  max-width: 2000px; 
  margin: 0 auto; 
  border-bottom: 2px solid grey;
}

